
.ContentMain ul li {
    width: 100%;
}
.ContentMain li:nth-of-type(1) {
    margin-top:10px;
}
.ContentMain ul li .mui-media-object {
    border: 1px solid #808080;
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    margin-top: 0px;
    max-width: 88px;
    max-height: 88px;
}
.ContentMain ul li .mui-media-body {
    font-weight: bold;
    font-size:18px;
    line-height:26px;
}
.ContentMain ul li p {
    text-indent: 16px;
    font-weight:initial;
    margin-top:6px;
}
.img img {
    width:86px;
    height:86px;
}
.contentMain {
    height:100%;
}
.title {
    font-weight:bold;
    font-family:微软雅黑;

    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
    white-space:nowrap
}

.content {
    font-family:仿宋;
    margin-top:8px;
    font-size: 16px;
    line-height:24px;
    text-indent:16px;

    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
    color:#000;
}
.Search {
    width: 100%;
    height: 5%;
    min-height:30px;
    margin-bottom:10px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.58);
    text-align:center;
    border-radius:5px;
}
.SearchBox {
    width: 100%;
    height: 100%;
    border: 1px solid #808080;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
}
.SearchBox div {
float:left;
}
.SearchType {
    height:100%;
    width:90%;
}
.SearchType input {
    height:calc(100%);
    width:calc(100%);
    border-radius:5px;
    border:none;
    outline:none;
    margin-bottom: 0px;
}
.SearchBut {
    height:100%;
    width:10%;
    line-height:34.8px;
}
