@model TestBoker.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDefault.cshtml";
}
<link href="~/Content/Css/Index.css" rel="stylesheet" />
<div class="Search">
    <div class="SearchBox">
        <div class="SearchBut"><i class="fa fa-search"></i></div>
        <div class="SearchType"><input type="text" /></div>
    </div>
</div>
<div class="ContentMain">
    @foreach (var item in Model.contentList)
    {
        <div class="ContentList" id="cl(@item.Id)">
            <div class="img">@item.Img</div>
            <div class="contentMain">
                <div class="title">@item.Title</div>
                <p class="content">@item.Content</p>
            </div>
        </div>
    }
    @section style
{
        <style>
            .top {
                height: 93%;
            }

            .ContentMain {
                height: 94%;
            }
        </style>
    }
</div>
