USE [master]
GO
/****** Object:  Database [TestBoker]    Script Date: 2019/3/18 16:06:19 ******/
CREATE DATABASE [TestBoker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestBoker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TestBoker.mdf' , SIZE = 13312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestBoker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TestBoker_log.ldf' , SIZE = 52416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestBoker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestBoker]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 2019/3/18 16:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banner]    Script Date: 2019/3/18 16:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Img] [nvarchar](50) NOT NULL,
	[Src] [nvarchar](50) NULL,
	[IsShow] [bit] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContentList]    Script Date: 2019/3/18 16:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Img] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsShow] [bit] NOT NULL,
	[Label] [nvarchar](max) NULL,
	[Time] [datetime] NOT NULL,
	[LastTime] [nvarchar](100) NULL,
	[Author] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ContentList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exhibition]    Script Date: 2019/3/18 16:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Img] [nvarchar](50) NOT NULL,
	[Src] [nvarchar](max) NOT NULL,
	[Synopsis] [nvarchar](max) NULL,
	[Time] [datetime] NOT NULL,
	[IsShow] [bit] NOT NULL,
 CONSTRAINT [PK_Exhibition] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Log]    Script Date: 2019/3/18 16:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Count] [nvarchar](max) NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginLog]    Script Date: 2019/3/18 16:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IP] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Time] [datetime] NOT NULL,
	[Chrome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoginLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Banner] ADD  CONSTRAINT [DF_Banner_IsShow]  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[Banner] ADD  CONSTRAINT [DF_Banner_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[ContentList] ADD  CONSTRAINT [DF_ContentList_IsShow]  DEFAULT ((1)) FOR [IsShow]
GO
ALTER TABLE [dbo].[ContentList] ADD  CONSTRAINT [DF_ContentList_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[Exhibition] ADD  CONSTRAINT [DF_Exhibition_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[Exhibition] ADD  CONSTRAINT [DF_Exhibition_IsShow]  DEFAULT ((1)) FOR [IsShow]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[LoginLog] ADD  CONSTRAINT [DF_LoginLog_Time]  DEFAULT (getdate()) FOR [Time]
GO
USE [master]
GO

